#ipadDemo .modal-dialog {
    width: 900px;
    margin: 30px auto;
}
#ipadDemo .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    width: 900px;
}


